#top-nav{
    margin-left: -70px !important;
}

#top-nav li{
    width: 25%;
}

#top-nav a{
    letter-spacing: 0;
    padding-left: 5%;
    padding-right: 5%;
}

#top-nav a:hover{
    letter-spacing: 1px;;
    
}

.king-container{
    width: 100% !important;
}

#introtext{
    width: 50% !important;
}

#kartmeny{
    height: auto;
    position: relative;
    z-index: 1;
}
#etasjeListe a{
    width: 100% !important;
    display: grid !important;
    font-size: 1.5em;
}

#gallericontainer{
	width:100%;
	display:block;
}


#left_holder, #right_holder
{
    float:none;
}

.visible{
    overflow:visible;
    height: auto;
	transition-property:max-height;
	transition-duration:0.5s;
}

.hidden
{
	overflow:hidden;
	max-height:0;
	transition-property:max-height;
	transition-duration:0.2s;
    display: none;
}