html {
    
}

body{
    font-size: 100%;
    margin: 0;
    background-color: #92DCE0;
}
/*Tags---------------------------------*/

h1, h2, h3, h4{
    color: peru;
}


/*Classes and Id's------------------------------*/
#header-menu{
   width: 100%;
}


.menu{
    /*background-color: #0092D7;*/
    background-color: white;
    width: inherit;
    height: 47px;
    display: inline-block;
    margin: 0 auto;
   
}
/*
.left{
    float: left;
    width: 40%;
    
    
}*/
.right{
    float: right;
    width: 80%;
}

#top-nav{
    height : inherit;
    padding: 0;
}

#top-nav li{
    display: inline-block;
    list-style: none; 
    width: 25%;
    margin-top: -20px;
    background-color: antiquewhite;
}
     
#top-nav a:hover{
    background-color: pink;
    
}
#top-nav a:visited{
    background-color: pink;
    
}
#top-nav a{
    padding-top: 16px;
    padding-bottom: 11px;
    padding-left: 10%;
    padding-right: 10%;
    height: 20px;
    display: block;
    text-align:center;
}

.king-container{
	
    width: 80%;
    border: 1px solid;
    margin: 0 auto;
    height: 800px; /*Careful, remmember to change*/
	position: relative;
}

.container{
	border: 1px solid;
	margin: 0 auto;
	padding: 2%;
	width: 60%;
	height: auto;
	position: absolute;
	left: 12%;
}
@media (max-width: 768px) /* for mobilen */
{
	.container{
		width: 95%;
		left: 0%;
	}
}
#hvaGjørSiden{

	top: 10%;

}
#hvemErVi{

	top: 45%;

}

 #footer-container{
    width: 100%;
    background-color: grey;
    padding-bottom: 1%;
}
footer ul li {
    display: inline-block;
    padding-right: 5%;
}