html {
    
}

body{
    font-size: 100%;
    margin: 0;
    background-color: #92DCE0;
}
header{
    border-bottom: solid #F22613;
    width: 100%;
    height: 50px;
}
footer{
    width: 100%;
    background-color: grey;
    padding-bottom: 1%;
}
/*Tags---------------------------------*/

h1, h2, h3, h4{
    color: peru;
}


/*Classes and Id's------------------------------*/


.menu{
    background-color: #0092D7;
    width: inherit;
    height: 50px;
    display: inline-block;
    margin: 0 auto;
    
   
}


#top-nav{
    padding: 0;
    margin: 0;
    height: inherit;
}

#top-nav li{
    display: inline-block;
    list-style: none; 
    width: 20%;
    height: 50px;
    /*background-color: antiquewhite;*/
    
   
}

#top-nav a{
    padding-top: 16px;
    padding-bottom: 13px;
    padding-left: 10%;
    padding-right: 10%;
    height: 20px;
    display: block;
    text-align:center;
}


#top-nav a:hover{
    background-color: pink;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
    
}
#top-nav a:visited{
    background-color: pink;
    
}

.left{
    float: left;
    width: 40%;
    height: inherit;
    
    
}
.right{
    float: right;
    width: 40%;
    height: inherit;
    padding: 0;
    margin: 0;
}

#logo{
    width: 50px;
    height: 50px;
    margin-left: 2%;
    padding: 0;
    position: relative;
    top:-15px;
}

.king-container{
	
    width: 80%;
    border: 1px solid;
    margin: 0 auto;
    height: 800px; /*Careful, remmember to change*/
	position: relative;
}

.container{
	border: 1px solid;
	margin: 0 auto;
	padding: 2%;
	width: 60%;
	height: auto;
	position: absolute;
	left: 12%;
}
@media (max-width: 768px) /* for tablet */
{
	.container{
		width: 95%;
		left: 0%;
	}
}
#siteDoing{

	top: 10%;

}
#whoAreWe{

	top: 45%;

}
footer ul li {
    display: inline-block;
    padding-right: 5%;
}

/*css for kartene*/
#gallericontainer
{
	width:80%;
	height:450px;
	position:absolute;
	right:0%;
}
#img
{
	width:80%;
	position:absolute;
	right:10%;
}
#left_holder, #right_holder
{
	height:450px;
	width:10%;
	position:absolute;
	top:0px;
}
#right_holder
{
	right:0%;
}
#left_holder
{
	left:0%;
}
#left, #right
{
	width:50%;
	height:25%;
	position:absolute;
	top:40%;
}
